# One asset fading out

In [1]:
import pandas as pd
import numpy as np

from cvx.simulator.builder import builder

In [2]:
# two assets, A and B, constant price for A=100 and B=200
prices=pd.read_csv("data/prices.csv", header=0, index_col=0, parse_dates=True)
prices.iloc[2]["B"] = np.NaN
prices.iloc[3]["B"] = np.NaN
prices

                A      B
date
2022-01-01  100.0  200.0
2022-01-02  100.0  200.0
2022-01-03  100.0    NaN
2022-01-04  100.0    NaN

In [3]:
## Define builder

In [4]:
b = builder(
    prices=prices,
    initial_cash=2000
)

b.stocks

             A   B
date
2022-01-01 NaN NaN
2022-01-02 NaN NaN
2022-01-03 NaN NaN
2022-01-04 NaN NaN

In [5]:
## Iterate

In [6]:
b = builder(
    prices=prices,
    initial_cash=2000
)


for t, state in b:
    print(state.assets)
    print(t[-1])
    print(pd.Series(index=state.assets, data=1/len(state.assets)))
    print(state.nav)
    
    b.set_weights(t[-1], pd.Series(index=state.assets, data=1/len(state.assets)))

Index(['A', 'B'], dtype='object')
2022-01-01 00:00:00
A    0.5
B    0.5
dtype: float64
2000.0
Index(['A', 'B'], dtype='object')
2022-01-02 00:00:00
A    0.5
B    0.5
dtype: float64
2000.0
Index(['A'], dtype='object')
2022-01-03 00:00:00
A    1.0
dtype: float64
1000.0
Index(['A'], dtype='object')
2022-01-04 00:00:00
A    1.0
dtype: float64
1000.0

In [7]:
b.stocks

               A    B
date
2022-01-01  10.0  5.0
2022-01-02  10.0  5.0
2022-01-03  10.0  NaN
2022-01-04  10.0  NaN

In [8]:
b.prices

                A      B
date
2022-01-01  100.0  200.0
2022-01-02  100.0  200.0
2022-01-03  100.0    NaN
2022-01-04  100.0    NaN

In [9]:
portfolio = b.build()

In [10]:
portfolio.prices

                A      B
date
2022-01-01  100.0  200.0
2022-01-02  100.0  200.0
2022-01-03  100.0    NaN
2022-01-04  100.0    NaN

In [11]:
portfolio.nav

date
2022-01-01    2000.0
2022-01-02    2000.0
2022-01-03    1000.0
2022-01-04    1000.0
dtype: float64

In [12]:
portfolio.weights

              A    B
date
2022-01-01  0.5  0.5
2022-01-02  0.5  0.5
2022-01-03  1.0  NaN
2022-01-04  1.0  NaN