# One asset fading out

In [1]:
import pandas as pd
import numpy as np

from cvx.simulator import Builder

In [13]:
# two assets, A and B, constant price for A=100 and B=200
prices=pd.read_csv("data/prices.csv", header=0, index_col=0, parse_dates=True)
prices.loc["2022-01-03", "B"] = np.NaN
prices.loc["2022-01-04", "B"] = np.NaN
prices

                A      B
date
2022-01-01  100.0  200.0
2022-01-02  100.0  200.0
2022-01-03  100.0    NaN
2022-01-04  100.0    NaN

## Iterate

In [3]:
b = Builder(
    prices=prices,
    initial_aum=2000
)


for t, state in b:
    b.weights = np.ones(len(state.assets))/len(state.assets)
    b.aum = state.aum

In [4]:
b.units

               A    B
date
2022-01-01  10.0  5.0
2022-01-02  10.0  5.0
2022-01-03  10.0  NaN
2022-01-04  10.0  NaN

In [5]:
b.prices

                A      B
date
2022-01-01  100.0  200.0
2022-01-02  100.0  200.0
2022-01-03  100.0    NaN
2022-01-04  100.0    NaN

In [6]:
portfolio = b.build()

In [7]:
portfolio.prices

                A      B
date
2022-01-01  100.0  200.0
2022-01-02  100.0  200.0
2022-01-03  100.0    NaN
2022-01-04  100.0    NaN

In [8]:
portfolio.nav

date
2022-01-01    2000.0
2022-01-02    2000.0
2022-01-03    1000.0
2022-01-04    1000.0
Name: NAV, dtype: float64

In [9]:
portfolio.weights

              A    B
date
2022-01-01  0.5  0.5
2022-01-02  0.5  0.5
2022-01-03  1.0  NaN
2022-01-04  1.0  NaN